
	
.single_slider .item .item-wrapper a.btn{
	margin-top: 15px !important;
}

#slider-1{
	margin-top: 25% !important;
}
.nav-icons .nav-links{
	right:-500px !important;
}
.nav-icons .nav-links.show-it{
	right:-40px;
	width: 320px;
}
