
	
.single_slider .item .item-wrapper a.btn{
	margin-top: 15px !important;
}
.nav-icons .nav-links .subs a span{
	text-align: left;
	text-indent: 25px;
}
#slider-1{
	margin-top: 25% !important;
}
.nav-icons .nav-links{
	right:-500px !important;
}
.nav-icons .nav-links.show-it{
	right:-40px !important;
	width: 320px;
}

.nav-icons ul .subs a span{
	font-size: 16px;
}

#donate_btn{
	display: none;
	visibility: none;
}